{% extends "templates/notebook.html" %}
{% block header %}
  <div id="top-banner" style="border: 1px solid #ddd; background-color: #ffffcc; padding: 6px 0; position: relative">
    <span style="position: absolute; right: 0; bottom: 0; font-size: 0.8em; color: #888">DEBUG</span>
    <div class="container">
      {% if resource_link_id %}
      Notebook is part of the course <a href="{{ launch_presentation_return_url }}">{{ context_title }}</a>
      | Is launch notebook: {% if file_is_target %}yes{% else %}no{% endif %}
      {% else %}
      Notebook is NOT part of a course
      {% endif %}
      - You are logged in as '{{ user_id }}'
    </div>
  </div>
{{ super() }}
{% endblock %}